<h1>ch20-this-call-apply-bind</h1>
https://ithelp.ithome.com.tw/articles/10193193
<br>


<h2>01. kuro哥概述</h2>
1. 先簡單看 ECMAScrip文件, 與 MDN 對 this 說明 => 有說等於沒說 先略 :)
<br>
2. this 是一種 [關鍵字], this 是 誰執行時？ 自動生成的 [內部物件]  ans: __ 所屬物件 ___
<br>
3. 隨著 函式運行場合不同, this 指向的值也會不同, 但大部分應該要 呼叫 函式 的 [物件] (?)
<br>

<h2>02. kuro哥, 兩人取性別範例 => 取 person1.gender</h2>
4. [實作][step1] 先創建 person1, person2 物件, 可取得性別, 與 取性別函式
<br>
5. [實作][step2] 創建 getGender函式,  return person1.gender 
<br>
6. [討論] person1, person2 印出為何? =>     ans: _______
<br>
7. [討論] 延伸討論, 4,5 步驟, 是函式先定義? 還是 person先定義? 或沒差? ans: _____
<br>

<script>
    console.log("<h2>02. kuro哥, 兩人取性別範例 => 取 person1.gender</h2>");

    // 5. 創建 getGender函式, 強制取 person1.gender 
    // var getGender = function() { return person1.gender } // 印出性別

    // 4. 先創建 person1, person2 物件, 可取得性別 gender , 與 取性別函式 getGender
/* 
    var person1 = {
        gender: "1女",
        //getGender: getGender,
    }
     */
    //var person2 = {}
    //person1.getGender();
    //person2.getGender();

    var getGender1_1 = () => person1_1.gender;
    var person1_1 = {
        gender: "1-1 男",
        getGender: getGender1_1,
    }

    var person1_2 = {
        gender: "1-2 女",
        getGender: getGender1_1,
    }

    console.log(" person1_1.getGender(): ", person1_1.getGender());
    console.log(" person1_2.getGender(): ", person1_2.getGender());
</script>


<h2>03. kuro哥, 兩人取性別範例 => getGender函式改印 this</h2>
8. [實作][複習上] 參考上述, 將 getGender3_1 印出改為 this. 的性別
<br>
9. [探討]印出結果為何? ans: __當前 實例 ___
<br>


<script>
    console.log("<h2>03. kuro哥, 兩人取性別範例 => getGender函式改印 this</h2>");
/* 
    var getGender3_1 = function() {
        //console.log(this....);
    }
 */
    // var person3_1 = { }
    // var person3_2 = { }
    //person3_1.getGender3_1();
    //person3_2.getGender3_1();

    //var gender = "外層性別";
    //var getGender3_1 = () => this.gender; // => 
    var getGender3_1 = function() { return this.gender; }

    var person3_1 = {
        gender: " 3-1, 女喔",
        getGender: getGender3_1,
    }
    var person3_2 = {
        gender: " 3-2, 男",
        getGender: getGender3_1, 
    }

    console.log("person3_1.getGender", person3_1.getGender());
    console.log("person3_2.getGender", person3_2.getGender());
</script>


<h2>04. this 不一定指向 函式</h2>
10. [複習] this 指向的通常是 函式 所屬 ___ ? ans: ____
<br>

<h3>[範例]. [計算器] val 向外找無 全域</h3>
11. [實作] 撰寫一個 [計算器] counter4_1 , 取 this.value ++ , 並用 for 迴圈加總
<br>
12. [討論] 於 全域 counter4_1.value 初始, 函數內 this 可取得嗎? ans: 不可, this 找 window.value 找無 :)
<br>

<script>
    console.log("<h3>[範例]. [計算器] val 向外找無 全域</h3>");

    // 2. [討論] 於 全域 counter4_1.value 初始, 函數內 this 可取得嗎?
    //counter4_1.value = 0;
    //var value = 0;`
    // 1. [實作] 撰寫一個 [計算器] counter4_1 , 取 this.value ++ , 
    /* 
    function counter4_1() {
        this.value ++;
        console.log(this.value);
    }
    //並用 for 迴圈加總
    for(var i=0; i<5; i++) {
        counter4_1();
    }
    */
</script>


<h3>05. 兩函數互取值, this 取無 :) </h3>
13. [實作] 兩函數, showVal : 初始val, 並使用 getVal 印初始之 val
<br>
14. [討論] showval 使用 getVal 印 getVal 指向何處? ans: getVal 即為 this.getVal, 就是 windows.getVal, 
<br>

<script>
    console.log("<h3>05. 兩函數互取值, this 取無 :) </h3>");

    //var val = "global val!"

    // 2. [討論] showval 使用 getVal 印 this.val, 指向何處?
    var getVal = function() {
        //console.log("getVal, this.val", this.val );
    };

    //1. [實作] 兩函數, showVal : 初始val, 並使用 getVal 印初始之 val
    var showVal = function() {
        var val = 666;
        getVal();
        // this.getVal();
        //console.log("showVal - val", val);
        //console.log("showVal - this.val", this.val);
    };

    //showVal();
</script>



<h2>06. 巢狀 this</h2>
15. [實作] 創建一個 Obj6_1 的 物件, 並執行 fun1: function() {...} , 並印出 this
<br>
16. [實作] Obj6_1 > fun1 內可再建立兩個函數, 賦值+箭頭 fun2_1 () 與 fun2_2 函數宣告 , 並印出 this
<br>
17. [探討] 上述三個函數, fun1, fun2_1, fun2_2 印出this 差異? ans: class 內箭頭 this指向_ 當前 實例____ , [賦值+箭頭] fun2_1 指向__當前實例___;  其他函式 fun2_2 指向__windows___
<br>
18. [探討] fun1 新增嚴格模式會如何? ans: fun1 內函式不可_____  : fun2_1 is not defined
<br>

<script>
    console.log("<h2>06. 巢狀 this</h2>");
/* 
    var Obj6_1 = {
        name: "I'm Obj6_1 yo!",
        fun1: function() {
            // "use strict";
            
            console.log("Obj6_1.fun1()", this);

            fun2_1 = () => {
                console.log("fun2_1 [賦值+箭頭]", this);
            }
            fun2_1();

            function fun2_2() {
                console.log("fun2_2 函數宣告", this);
            }
            fun2_2();
        }
    } */
    //Obj6_1.fun1();

    var Obj6_1 = {
        name: " obj 6-1 6/3 ",
        fun6_1_arrow: function() {
            console.log("fun6_1_arrow in class this", this); // obj6-1
            function fun6_2_call1() {
                console.log("fun6_2_call1 in class fun this", this); // windows
            }
            fun6_2_call1();

            fun6_3_any1 = function() {
                console.log("function6_2_any1 in class fun this", this); // windows
            }
            fun6_3_any1();

            fun6_4_arrow1 = () => {
                console.log("fun6_4_arrow1 in class fun this", this); // obj6-1
            }
            fun6_4_arrow1();
        }
    }

    Obj6_1.fun6_1_arrow();
</script>



<h2>07. this 與 callback function </h2>
=> 先略



<h2>08. 函式 強制綁定 this => bind, call, apply </h2>

<h3>09. bind 方式</h3>
19. bind 是 函式物件 內的一個 原型?
<br>
20. 函式 使用 bind 綁定物件, 如 fun1.bind(obj1), 形同是讓 fun1 所屬於 obj1 執行
<br>
21. [實作] 如下 6-1 範例, f8_3函數 使用 bind 綁定當前 this, 看結果差異? ans: _____
<br>


<script>
    console.log("<h3>09. bind 方式</h3>");
/* 
    var Obj8_1 = {
        name: "I'm Obj8_1 yo haha",
        fun8_1: function() {
            //var f8_3 = function fun8_3() { console.log("fun2_2 函數宣告", this);}
            // 3. [實作] 如下 6-1 範例, f8_3函數 使用 bind 綁定當前 this, 看結果差異?
            //.bind(this);
            //f8_3();
        }
    } */
    //Obj8_1.fun8_1();

    var Obj8_1 = {
        name: " obj8-1, ",
        fun8_1: function() {
            var fun8_1_1_bind = function fun1() {
                console.log("fun 8-1-1, bind => this", this);
            }
            .bind(this);

            fun8_1_1_bind();
        }
    }
    Obj8_1.fun8_1();
</script>



<h3>10. 箭頭函式 與 this</h3>
22. 箭頭函式 (arrow fun) , 是於 js 何時推出?(提示:就你知道的版本) ans: es___
<br>
23. 箭頭函式 可讓寫法更簡潔, 並且對 this 可____? ans: 強制___
<br>
24. [實作] 如下 6-1 範例, f10_3 改為 箭頭函式, 印出 this 結果為何? ans: _____
<br>
25. [注意] 無論是使用 'use strict' 或是再加上 .bind(xxx) 都無法改變 this 的內容，也不能作為物件建構子 (constructor)來使用。 
<br>

<script>
    console.log("<h3>10. 箭頭函式 與 this</h3>");

    var Obj10_1 = {
        name: "I'm Obj10_1 use this! ",
        fun10_1: function() {
            // "use strict";

            var f10_3 = () => {
                console.log("f10_3", this);
            }

            f10_3();
        }
    }
    Obj10_1.fun10_1();
</script>



<h3>11. this綁定 call, apply</h3>
26. bind 只能傳入 該函式需綁定之物件, call, apply 可額外傳入其他參數
<br>
27. call, apply 第一個參數就是 該函式綁定之 物件, 而 call, apply 傳入其他參數差異為何? ans: call 可直接傳入多個參數,___分隔; apply 需將多個參數整理成_____
<br>
28. [實作] 創建 Obj11_1 物件, fun11_1函式, fun11_1 印出 this 與 傳入之 list
<br>
29. [實作] 請印出 call, apply 差異
<br>

<script>
    console.log("<h3>11. this綁定 call, apply</h3>");

    //28. [實作] 創建 Obj11_1 物件, fun11_1函式, fun11_1 印出 this 與 傳入之 list
    var Obj11_1 = {
        name: "Obj11_1",
    }
    var fun11_1 = function(...list) {
        console.log(this,list);
    }

    // 29. [實作] 請印出 call, apply 差異
    //fun11_1("原本函式",3,4);
    //fun11_1.call(Obj11_1, "call",6,7);fun11_1.apply(Obj11_1, ["apply",0,3])
    fun11_1.bind(Obj11_1)("原本 無綁定",1,3,4);
    fun11_1.call(Obj11_1, "call",44,33,11);
    fun11_1.apply(Obj11_1, ["call",44,33,11]);
</script>


<h3>12. bind, call, apply 差異</h3>
28. bind 呼叫前 先綁定好物件, 後續不會在改變, 適合情境? ans: call____
<br>
29. call, apply 綁定之 物件 可能會修改之 情境
<br>

<h2>13. this 四種綁定原則</h2>
=> 消化不完, 需在 review
<br>

29. (1) 預設綁定
<br>
30. (2) 隱式綁定
<br>
31. (3) 顯式綁定 => bind, call, apply
<br>
32. (4). new 關鍵字綁定
<br>


