<h1>ECMAScript6 怎么写 class? - JavaScript前端Web工程师</h1>
https://www.youtube.com/watch?v=7DfannMks7c&list=PLMN9fM-0gQ90NMxWjL2xnWQoFh-28pwa_&index=42
<br>


<h2>範例1: 一,二級廢話, 顯示不同顏色</h2>

0. 先定義好四個 元素
<br>

<input type="text">
<button id="btn_1th" style="color:#00a1d6">一級廢話,顯示藍色</button>
<button id="btn_2nd" style="color:#f85b88">二級廢話,顯示紅色</button>
<p id="p1_1">呈現文字區</p>


<br>
1. 先訂一個 class , 名為 BullShit廢話
<br>
2. 該 class 定義 建構子 引入 text 文字 與 顏色
<br>
3. 該 class 定義 方法 show() , 讓 p 顯示文字 與 藍色
<br>
4. 新增一級廢話, 按鈕傾聽事件後, 實作 class BullShit廢話, 文字顯示藍色 #00a1d6
<br>
5. 新增一個 class BullShit2nd , 繼承 class BullShit
<br>
6. BullShit2nd 可實作 BullShit 方法 show(), 二級廢話, 顯示紅色
<br>



<script>
    // 0. 先定義好四個 元素
    const input = document.querySelector("input");
    const btn_1th = document.querySelector("#btn_1th");
    const btn_2nd = document.querySelector("#btn_2nd");
    const p1_1 = document.querySelector("#p1_1");

    // 1. 先訂一個 class , 名為 BullShit廢話
    class BullShit {
        // 2. 該 class 定義 建構子 引入 text 文字 與 顏色
        constructor(text, color) {
            this.text = text;
            this.color = color
        }
        // 3. 該 class 定義 方法 show() , 讓 p 顯示文字 與 藍色
        show() {
            p1_1.innerHTML = this.text + ":" + input.value;
            p1_1.style.color = this.color;
        }
    }

    // 4. 新增一級廢話, 按鈕傾聽事件後, 實作 class BullShit廢話, 文字顯示藍色 #00a1d6
    btn_1th.addEventListener("click", () => {
        const bullshit = new BullShit("一級廢話", "#00a1d6");
        bullshit.show();
    });


    // 5. 新增一個 class BullShit2nd , 繼承 class BullShit
    class BullShit2nd extends BullShit {
        // 7. 建構子 + super 使用, => 可另外測試複寫 this 能否有效 => 不能 :)
        constructor(text, color, fontSize) {
            super(text, color);
            this.fontSize = fontSize;
        }

        show() {
            p1_1.innerHTML = this.text + ":" + input.value;
            p1_1.style.color = this.color;
            p1_1.style.fontSize = this.fontSize;
        }
    }

    // 6. BullShit2nd 可實作 BullShit 方法 show(), 二級廢話, 顯示紅色
    btn_2nd.addEventListener("click", () => {
        const bullshit2 = new BullShit2nd("二級廢話", "#f85b88", 50);
        bullshit2.show();
    });

</script>




