<h1>JavaScript闭包 - Web前端工程师面试题讲解</h1>
https://www.youtube.com/watch?v=LXJLgBjbh7w&list=PLMN9fM-0gQ90NMxWjL2xnWQoFh-28pwa_&index=4
<br>


<h2>1. [探討]多層函式, 執行上下文</h2>
1. 請簡述 下列函式 上下文在 記憶體執行順序? ans: a => b => c
<br>
2. 記憶體釋出順序: c => b => a 
<br>
3. 此為 記憶體的 stack?
<br>
4. 執行上下文的環境分哪三種? 哪種少用? ans: 全域, 函式, eval; eval少用
<br>

<script>
    console.log("<h2>1. [探討]多層函式, 執行上下文</h2>")
    function a() {
        console.log("a");
        function b() {
            console.log("b");
            function c() {
                console.log("c")
            }
            c();
        }
        b();
    }
    //a();
</script>



<h2>2. [探討] 作用域 => 書包裡的書</h2>
5. 請說明 下列 book 印出結果? ans: 出錯
<br>

<script>
    console.log("<h2>2. [探討] 作用域 => 書包裡的書</h2>");

    function bookPack() {
        var book = "書包裡的書";
    }

    //console.log(book);
</script>


<h2>3. [探討] 閉包 裡的書本</h2>
6. 閉包 裡的書本

<script>
    console.log("<h2>3. [探討] 閉包 裡的書本</h2>");

    function bookPack3_1() {
        var book3_1 = "3-1 背包裡的書";
        return function getBook3_1_1() {
            console.log("get book 3-1-1 宣告函式", book3_1);
        }
    }
    
    var pack3_1 = bookPack3_1();
    pack3_1();
</script>

7. 後面作用域 幾乎聽不太懂 :)



<h2>3-2. [補充] kuro 範例 閉包計數器 + 箭頭</h2>

<script>
    console.log("<h2>3-2. [補充] kuro 範例 閉包計數器 + 箭頭</h2>");
    function counter() {
        var val = 0;
        return () => ++val; 
    }

    var count = counter();

    console.log("3-2. 計數器", count());
    console.log("3-2. 計數器", count());
    console.log("3-2. 計數器", count());
    console.log("3-2. 計數器", count());
</script>

